<?xml version="1.0" encoding="UTF-8"?>
<classpath>
#set($libs = $libDir.listFiles() )
#foreach( $lib in $libs )
	<classpathentry exported="true" kind="lib" path="lib/$lib.getName()"/>
#end
</classpath>