<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
	        id="org.apache.geronimo.st.core.launchConfigurationType"
	        name="%geronimoLaunchConfigurationType"
	        delegate="org.apache.geronimo.st.core.GeronimoLaunchConfigurationDelegate"
	        modes="run, debug, profile"
	        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
	        sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
	</extension>
	  
	<extension point="org.eclipse.wst.server.core.launchableAdapters">
      	<launchableAdapter
        	class="org.apache.geronimo.st.core.GeronimoLaunchableAdapterDelegate"
         	id="org.eclipse.jst.server.generic.web"/>
 	</extension>

	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
        <runtime-component-type id="org.apache.geronimo.runtime"/>
        
        <runtime-component-version type="org.apache.geronimo.runtime" version="1.0"/>
        <runtime-component-version type="org.apache.geronimo.runtime" version="1.1"/>
        
        <adapter>
            <runtime-component id="org.apache.geronimo.runtime"/>
            <factory
                class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory"/>
            <type
                class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
        </adapter>
        
        <supported>
            <runtime-component id="org.apache.geronimo.runtime" version="1.0"/>
            <facet id="org.apache.geronimo.facet" version="1.0"/>
            <facet id="jst.web" version="2.2,2.3,2.4"/>
            <facet id="jst.ejb" version="1.1,2.0,2.1"/>
            <facet id="jst.ear" version="1.2,1.3,1.4"/>
            <facet id="jst.connector" version="1.0,1.5"/>
            <facet id="jst.appclient" version="1.2,1.3,1.4"/>
        </supported>
            
        <supported>
            <runtime-component id="org.apache.geronimo.runtime" version="1.1"/>
            <facet id="org.apache.geronimo.facet" version="1.1"/>
            <facet id="jst.web" version="2.2,2.3,2.4"/>
            <facet id="jst.ejb" version="1.1,2.0,2.1"/>
            <facet id="jst.ear" version="1.2,1.3,1.4"/>
            <facet id="jst.connector" version="1.0,1.5"/>
            <facet id="jst.appclient" version="1.2,1.3,1.4"/>
            <facet id="jst.utility" version="1.0"/>
        </supported>
        
    </extension>
    
    <extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
        <runtimeFacetMapping
            runtimeTypeId="org.apache.geronimo.runtime.10"
            runtime-component="org.apache.geronimo.runtime" version="1.0"/>
        <runtimeFacetMapping
            runtimeTypeId="org.apache.geronimo.runtime.11"
            runtime-component="org.apache.geronimo.runtime" version="1.1"/>
    </extension>
    
	<extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
		<runtimeClasspathProvider id="org.apache.geronimo.runtimeClasspathProvider"
			runtimeTypeIds="org.apache.geronimo.runtime.*"
			class="org.apache.geronimo.st.core.GeronimoServerRuntimeTargetHandler"/>
    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.core.facets">
        <project-facet id="org.apache.geronimo.facet">
            <label>%geronimo-facet-label</label>
            <description>%geronimo-facet-description</description>
        </project-facet>
    </extension>

    <extension id="GeronimoOpExtensions" name="GeronimoOpExtensions" point="org.eclipse.wst.common.frameworks.OperationExtension">
        <operationExtension
            id="org.eclipse.jst.j2ee.internal.web.archive.operations.WebComponentImportOperation"
            postOperationClass="org.apache.geronimo.st.core.operations.ImportDeploymentPlanOperation">
        </operationExtension>
        <operationExtension
            id="org.eclipse.jst.j2ee.internal.ejb.archiveoperations.EJBComponentImportOperation"
            postOperationClass="org.apache.geronimo.st.core.operations.ImportDeploymentPlanOperation">
        </operationExtension>
        <operationExtension
            id="org.eclipse.jst.j2ee.internal.archive.operations.EARComponentImportOperation"
            postOperationClass="org.apache.geronimo.st.core.operations.ImportDeploymentPlanOperation">
        </operationExtension>
        <operationExtension
            id="org.eclipse.jst.j2ee.internal.jca.operations.ConnectorComponentImportOperation"
            postOperationClass="org.apache.geronimo.st.core.operations.ImportDeploymentPlanOperation">
        </operationExtension>
    </extension>
 
</plugin>
