<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
       id="org.eclipse.jst.server.runtime.geronimo.10"
       name="%runtimeTypeName"
       description="%runtimeTypeDescription"
       vendor="%runtimeTypeVendor"
       version="1.0"
       class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntime">
       <moduleType
         types="jst.web"
         versions="2.2, 2.3, 2.4"/>
      <moduleType
         types="jst.ejb"
         versions="1.1, 2.0, 2.1"/>
      <moduleType
         types="jst.connector"
         versions="1.0, 1.5"/>
      <moduleType
         types="jst.ear"
         versions="1.2, 1.3, 1.4"/>
    </runtimeType>
 </extension>

<extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
           id="org.eclipse.jst.server.geronimo.10"
           name="%serverTypeName"
           description="%serverTypeDescription"
           runtime="true"
           class="org.apache.geronimo.core.internal.GeronimoServer"
           initialState="stopped"
           supportsRemoteHosts="false"
           startTimeout="75000"
	       stopTimeout="30000"
           startBeforePublish="true"
           runtimeTypeId="org.eclipse.jst.server.runtime.geronimo.10"
           launchConfigId="org.eclipse.jst.server.generic.core.launchConfigurationType"
           behaviourClass="org.apache.geronimo.core.internal.GeronimoServerBehaviour"
           hasConfiguration="false"
           launchModes="run,debug">         
     </serverType>     
</extension>

<!-- Server type definitions -->
   <extension point="org.eclipse.jst.server.generic.core.serverdefinition">
		<serverdefinition id="org.eclipse.jst.server.runtime.geronimo.10" 
			definitionfile="/serverdef/geronimo10.serverdef">
		</serverdefinition>
   </extension>
  
   <extension point="org.eclipse.wst.server.core.runtimeTargetHandlers">
     <runtimeTargetHandler
        id="org.eclipse.jst.server.geronimo.runtimeTarget"
        runtimeTypeIds="org.eclipse.jst.server.runtime.geronimo.*"
        class="org.apache.geronimo.core.internal.GeronimoServerRuntimeTargetHandler"/>
   </extension>
   
   <extension id="GeronimoOpExtensions" name="GeronimoOpExtensions" point="org.eclipse.wst.common.frameworks.OperationExtension">									
		<operationExtension
			id="org.eclipse.jst.j2ee.internal.web.archive.operations.WebComponentCreationFacetOperation"
			postOperationClass="org.apache.geronimo.core.operations.DeploymentPlanCreationOperation">			
	    </operationExtension>	   
	    <operationExtension
			id="org.eclipse.jst.j2ee.internal.ejb.archiveoperations.EjbComponentCreationFacetOperation"
			postOperationClass="org.apache.geronimo.core.operations.DeploymentPlanCreationOperation">
		</operationExtension>		
		<operationExtension
			id="org.eclipse.jst.j2ee.application.internal.operations.EARComponentCreationFacetOperation"
			postOperationClass="org.apache.geronimo.core.operations.DeploymentPlanCreationOperation">
		</operationExtension>	
	    <operationExtension
			id="org.eclipse.jst.j2ee.internal.jca.operations.ConnectorComponentCreationFacetOperation"
			postOperationClass="org.apache.geronimo.core.operations.DeploymentPlanCreationOperation">
		</operationExtension>
		
		<operationExtension
			id="org.eclipse.jst.j2ee.internal.web.archive.operations.WebComponentImportOperation"
			postOperationClass="org.apache.geronimo.core.operations.ImportDeploymentPlanOperation">
		</operationExtension>	
		<operationExtension
			id="org.eclipse.jst.j2ee.internal.ejb.archiveoperations.EJBComponentImportOperation"
			postOperationClass="org.apache.geronimo.core.operations.ImportDeploymentPlanOperation">
		</operationExtension>	
		<operationExtension
			id="org.eclipse.jst.j2ee.internal.archive.operations.EARComponentImportOperation"
			postOperationClass="org.apache.geronimo.core.operations.ImportDeploymentPlanOperation">
		</operationExtension>	
		<operationExtension
			id="org.eclipse.jst.j2ee.internal.jca.operations.ConnectorComponentImportOperation"
			postOperationClass="org.apache.geronimo.core.operations.ImportDeploymentPlanOperation">
		</operationExtension>		
   </extension>
   
    <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
         
        <project-facet id="org.apache.geronimo.facet">
            <label>%geronimo-facet-label</label>
            <description>%geronimo-facet-description</description>
            <icon>icons/geronimo16x16.gif</icon>
        </project-facet>

        <project-facet-version facet="org.apache.geronimo.facet" version="1.0">
            <action type="install">
                <delegate class="org.apache.geronimo.core.GeronimoFacetInstallDelegate"/>
            </action>
           	<constraint>
                <or>
                    <requires facet="jst.ear" version="1.2"/>
                    <requires facet="jst.ear" version="1.3"/>
                    <requires facet="jst.ear" version="1.4"/>
                    <requires facet="jst.appclient" version="1.2"/>
                    <requires facet="jst.appclient" version="1.3"/>
                    <requires facet="jst.appclient" version="1.4"/>
                    <requires facet="jst.connector" version="1.0"/>
                    <requires facet="jst.connector" version="1.5"/>
                    <requires facet="jst.ejb" version="1.1"/>
                    <requires facet="jst.ejb" version="2.0"/>
                    <requires facet="jst.ejb" version="2.1"/>
                    <requires facet="jst.web" version="2.2"/>
                    <requires facet="jst.web" version="2.3"/>
                    <requires facet="jst.web" version="2.4"/>
                </or>
            </constraint>
        </project-facet-version>
   </extension>
   
   <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image facet="org.apache.geronimo.facet"
      path="icons/geronimo16x16.gif"/>
   </extension>
   
   
</plugin>