<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension-point id="loader" name="Geronimo Deployment Plan Loader" schema="schema/loader.exsd"/>
 	
 	<extension point="org.eclipse.wst.common.project.facet.ui.images">
        <image facet="org.apache.geronimo.facet"
            path="icons/obj16/littleG.gif"/>
        <image runtime-component-type="org.apache.geronimo.runtime"
            path="icons/obj16/littleG.gif"/>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.serverImages">
    	<image id="org.apache.geronimo.generic.runtime.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.runtime.10"/>
        <image id="org.apache.geronimo.generic.server.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.server.10"/>
        <image id="org.apache.geronimo.generic.runtime.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.runtime.11"/>
        <image id="org.apache.geronimo.generic.server.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.server.11"/>
    </extension>

    <extension point="org.eclipse.wst.server.ui.wizardFragments">
        <fragment id="org.eclipse.jst.server.generic.runtime"
            typeIds="org.apache.geronimo.generic.runtime.10"
            class="org.apache.geronimo.st.ui.internal.GeronimoRuntimeWizardFragment"/>
        <fragment id="org.eclipse.jst.server.generic.server"
            typeIds="org.apache.geronimo.generic.server.10"
            class="org.apache.geronimo.st.ui.internal.GeronimoServerWizardFragment"/>
        <fragment id="org.eclipse.jst.server.generic.runtime"
            typeIds="org.apache.geronimo.generic.runtime.11"
            class="org.apache.geronimo.st.ui.internal.GeronimoRuntimeWizardFragment"/>
        <fragment id="org.eclipse.jst.server.generic.server"
            typeIds="org.apache.geronimo.generic.server.11"
            class="org.apache.geronimo.st.ui.internal.GeronimoServerWizardFragment"/>
    </extension>

	<extension point="org.eclipse.ui.popupMenus">
        <objectContribution id="org.apache.geronimo.ui.serveractions"
            objectClass="org.eclipse.wst.server.core.IServer">
            <action id="org.apache.geronimo.ui.launchconsole"
                label="%PopupMenus.launchconsole" icon="icons/obj16/littleG.gif"
                class="org.apache.geronimo.st.ui.actions.LaunchGeronimoConsoleAction"
                enablesFor="1">
            </action>
        </objectContribution>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.security" order="10"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            typeIds="org.apache.geronimo.generic.server.*"
            class="org.apache.geronimo.st.ui.sections.ServerEditorSecuritySection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.port" order="10"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            typeIds="org.apache.geronimo.generic.server.*"
            class="org.apache.geronimo.st.ui.sections.ServerEditorPortsSection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.loglevel" order="20"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            typeIds="org.apache.geronimo.generic.server.*"
            class="org.apache.geronimo.st.ui.sections.ServerEditorLogLevelSection">
        </section>
    </extension>
    
    <extension point="org.eclipse.ui.editors">
        <editor class="org.apache.geronimo.st.ui.editors.SharedDeploymentPlanEditor"
            default="true" 
            filenames="geronimo-web.xml,geronimo-application.xml,openejb-jar.xml,geronimo-connector.xml"
            icon="icons/obj16/littleG.gif"
            id="org.apache.geronimo.ui.editors.WebEditor" 
            name="%deploymentPlanEditorName">
        </editor>
    </extension>
    
</plugin>
 