<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.wst.server.ui.wizardFragments">
     <fragment
        id="org.eclipse.jst.server.generic.runtime"
        typeIds="org.apache.geronimo.generic.runtime.10"
        class="org.eclipse.jst.server.generic.ui.internal.GenericServerRuntimeWizardFragment"/>
     <fragment
        id="org.eclipse.jst.server.generic.server"
        typeIds="org.apache.geronimo.generic.server.10"
        class="org.eclipse.jst.server.generic.ui.internal.GenericServerWizardFragment"/>
  </extension>

  <extension point="org.eclipse.wst.server.ui.serverImages">
     <image
         id="org.apache.geronimo.generic.runtime.image"
         icon="icons/obj16/geronimo2.gif"
         typeIds="org.apache.geronimo.generic.runtime.10"/>
     <image
         id="org.apache.geronimo.generic.server.image"
         icon="icons/obj16/geronimo2.gif"
         typeIds="org.apache.geronimo.generic.server.10"/>
  </extension>
  
  <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image facet="org.apache.geronimo.facet"
      path="icons/obj16/geronimo2.gif"/>
    <image runtime-component-type="org.apache.geronimo.runtime"
      path="icons/obj16/geronimo2.gif"/>
  </extension>

  <extension point="org.eclipse.ui.editors">
      <editor
            class="org.apache.geronimo.ui.editors.WebEditor"
            default="true"
            filenames="geronimo-web.xml"
            icon="icons/obj16/geronimo2.gif"
            id="org.apache.geronimo.ui.editors.WebEditor"
            name="%webEditorName">
      </editor>
      <editor
            class="org.apache.geronimo.ui.editors.ApplicationPlanEditor"
            default="true"
            filenames="geronimo-application.xml"
            icon="icons/obj16/geronimo2.gif"
            id="org.apache.geronimo.ui.editors.ApplicationPlanEditor"
            name="%appEditorName">
      </editor>
      <editor
            class="org.apache.geronimo.ui.editors.OpenEjbPlanEditor"
            default="true"
            filenames="openejb-jar.xml"
            icon="icons/obj16/geronimo2.gif"
            id="org.apache.geronimo.ui.editors.OpenEjbPlanEditor"
            name="%openEjbEditorName">
      </editor>
            <editor
            class="org.apache.geronimo.ui.editors.ConnectorPlanEditor"
            default="true"
            filenames="geronimo-connector.xml"
            icon="icons/obj16/geronimo2.gif"
            id="org.apache.geronimo.ui.editors.ConnectorPlanEditorr"
            name="%connectorEditorName">
      </editor>
  </extension>
  
  <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.apache.geronimo.ui.serveractions"
        objectClass="org.eclipse.wst.server.core.IServer">
	    <action id="org.apache.geronimo.ui.launchconsole"
	       label="%PopupMenus.launchconsole"
	       icon="icons/obj16/geronimo.gif"
	       class="org.apache.geronimo.ui.actions.LaunchGeronimoConsoleAction"	
	       enablesFor="1">
	    </action>
	 </objectContribution>
  </extension>
  
  <extension point="org.eclipse.wst.server.ui.editorPageSections">   
      <section
         id="org.apache.server.geronimo.security"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="org.apache.geronimo.generic.server.10"
         class="org.apache.geronimo.ui.sections.ServerEditorSecuritySection">
      </section>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.editorPageSections">   
      <section
         id="org.apache.server.geronimo.port"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.apache.geronimo.generic.server.10"
         class="org.apache.geronimo.ui.sections.ServerEditorPortsSection">
      </section>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.editorPageSections">   
      <section
         id="org.apache.server.geronimo.loglevel"
         order="20"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.apache.geronimo.generic.server.10"
         class="org.apache.geronimo.ui.sections.ServerEditorLogLevelSection">
      </section>
   </extension>

</plugin>