<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
  id="$id"
  name="$name"
  version="$version"
  provider-name="Apache Software Foundation">
  <runtime>
#set($libs = $libDir.listFiles() )
#foreach( $lib in $libs )
    <library name="lib/$lib.getName()">
      <export name="*"/>
    </library>  
#end  
  </runtime>
  <requires>
     <import plugin="org.apache.geronimo.runtime.common" export="true"/>
  </requires>
</plugin>