<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!-- $Rev: 570837 $ $Date: 2007-08-29 11:25:39 -0400 (Wed, 29 Aug 2007) $ -->

<plugin>
    
    <extension point="org.apache.geronimo.st.ui.loader">
 	  	<loader class="org.apache.geronimo.st.v11.ui.editors.GeronimoFormContentLoader" version="1.1"/>
    </extension>

    <!-- 
     |
     | Map the action defined for the "Geronimo Deployment" project-facet to a specific class
     |
     -->
    <extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
  		<wizard-pages action="geronimo.plan.install.v11">
    		<page class="org.apache.geronimo.st.v11.ui.wizards.FacetInstallPage"/>
  		</wizard-pages>
	</extension>  
	
	
	 <!-- 
     |
     | Extend WTP wizardFragments to include the Geronimo runtime and server types                
     | (defined in plugins\org.apache.geronimo.st.v*.core\plugin.xml) when defining either a       
     | new Geronimo runtime (e.g., via Window->Preferences->Server->Installed Runtimes->Add)       
     | or a new Geronimo server (e.g., via File->New->Other->Server)                              
     |   
     -->
	<extension point="org.eclipse.wst.server.ui.wizardFragments">
	   <fragment id="org.apache.geronimo.server.v11.wizardFragment"
            typeIds="org.apache.geronimo.server.11"
            class="org.apache.geronimo.st.v11.ui.internal.GeronimoServerWizardFragment"/>
    </extension>
    

    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
                adaptable="true"
                id="org.apache.geronimo.v11.ui.serveractions"
                objectClass="org.eclipse.wst.server.core.IServer">
            <enablement>
                <test forcePluginActivation="true"
                    property="org.eclipse.wst.server.ui.serverType"
                    value="org.apache.geronimo.server.11" />
            </enablement>
            <action id="org.apache.geronimo.v11.ui.launchconsole"
                label="%PopupMenus.launchconsole" icon="icons/obj16/littleG.gif"
                class="org.apache.geronimo.st.v11.ui.actions.LaunchGeronimoConsoleAction"
                enablesFor="1">
            </action>
        </objectContribution>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.security" order="10"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            typeIds="org.apache.geronimo.server.11"
            class="org.apache.geronimo.st.v11.ui.sections.ServerEditorSecuritySection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.publishAdvanced" order="10"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            typeIds="org.apache.geronimo.server.11*"
            class="org.apache.geronimo.st.v11.ui.sections.ServerEditorPublishAdvancedSection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.port" order="10"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            typeIds="org.apache.geronimo.server.11"
            class="org.apache.geronimo.st.v11.ui.sections.ServerEditorPortsSection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.loglevel" order="20"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            typeIds="org.apache.geronimo.server.11"
            class="org.apache.geronimo.st.v11.ui.sections.ServerEditorLogLevelSection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.security" order="30"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            typeIds="org.apache.geronimo.server.11"
            class="org.apache.geronimo.st.v11.ui.sections.ServerEditorStartupSection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.vmargs" order="40"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            typeIds="org.apache.geronimo.server.11"
            class="org.apache.geronimo.st.v11.ui.sections.ServerVMArgsSection">
        </section>
    </extension>
    
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.testenv" order="20"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            typeIds="org.apache.geronimo.server.11"
            class="org.apache.geronimo.st.v11.ui.sections.ServerEditorTestEnvSection">
        </section>
    </extension>
    
    
    

</plugin>
