<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section id="org.apache.server.geronimo.testenv" order="20"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            typeIds="org.apache.geronimo.generic.server.11"
            class="org.apache.geronimo.st.v11.ui.sections.ServerEditorTestEnvSection">
        </section>
    </extension>
</plugin>
