<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    
	<extension point="org.eclipse.wst.server.ui.serverImages">
    	<image id="org.apache.geronimo.generic.runtime.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.runtime.10"/>
        <image id="org.apache.geronimo.generic.server.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.server.10"/>
        <image id="org.apache.geronimo.generic.runtime.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.runtime.11"/>
        <image id="org.apache.geronimo.generic.server.image"
            icon="icons/obj16/littleG.gif"
            typeIds="org.apache.geronimo.generic.server.11"/>
    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.ui.images">
        <image facet="org.apache.geronimo.facet"
            path="icons/obj16/littleG.gif"/>
        <image runtime-component-type="org.apache.geronimo.runtime"
            path="icons/obj16/littleG.gif"/>
    </extension>
    
    <extension point="org.apache.geronimo.st.ui.loader">
    	<loader class="org.apache.geronimo.st.v1.ui.editors.GeronimoFormContentLoader" version="1.0"/>
    </extension>

</plugin>
